<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Gallery</title>
</head>
<body>
    <h3>This is the Note Gallery</h3>
    <div id="gallery">
        Loading....
    </div>
    <script>
    function loadData()
    {
        let headers = new Headers();
        headers.append("Content-Type", "application/json");
        let req = new Request("/api/guestbook", {
            headers: headers
        });            

        fetch(req)
        .then(d => d.json())
        .then(d => {
            let html = ``;
            for (let i = 0; i < d.length; i++) {
                const el = d[i];
                console.log(el);
                html += `
                    Tanggal : `+el.createdAt+` <br>
                    Nama : <b>`+el.name+`</b><br>
                    Note : <b>`+el.note+`</b><br>
                `;
            }
            document.querySelector("#gallery").innerHTML = html;
        });
    }

    loadData();
    </script>
</body>
</html>